@use './constants' as c;

body {
  min-width: 1000px;
  min-height: 600px;
  color: c.$bg_clr_2;
  background-color: c.$bg_clr_1;
  background-image: url(../../public/img/noise.png),
    radial-gradient(100% 215.42% at 0% 0%, c.$bg_clr_1 0%, c.$bg_clr_2 100%);
  background-position: 50% 50%;
  font-family: 'Verdana', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-style: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px 15px;
}
