.key {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 4px;
  background-color: #f3f4f8;
  box-shadow: 0 3px 3px 0 #26465340;
  cursor: pointer;
  transition: 0.3s box-shadow, 0.3s transform;

  &:hover {
    transform: rotate(5deg);
  }

  &._active {
    box-shadow: 10px -5px 15px 6px #a767e5, -10px 5px 15px 6px #fad648, 5px 10px 15px 6px #4fcf70,
      -5px -10px 15px 6px #12bcfe;
    z-index: 5;
  }
}

.backquote {
  border-top-left-radius: 12px;
}

.backspace {
  border-top-right-radius: 12px;
}

.delete {
  border-bottom-left-radius: 12px;
}

.arrowright {
  border-bottom-right-radius: 12px;
}

.arrowup,
.arrowdown {
  height: auto;
  flex-grow: 1;
}

.arrowup,
.arrowdown,
.arrowright,
.arrowleft {
  font-size: 12px;
}

.enter {
  height: auto;
  flex-grow: 1;
}

.space,
.shiftright,
.shiftleft,
.backspace,
.capslock,
.tab {
  flex-grow: 1;
}
