.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-width: 900px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 12px;
  background-color: #c0c1c3;

  &__keys {
    display: flex;
    row-gap: 10px;
    column-gap: 10px;

    &_col:nth-child(1) {
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__arrowKeys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52px;
    height: 52px;
  }
}

.info {
  color: #f3f4f8;
  text-align: center;
}
