.key {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 4px;
  background-color: #f3f4f8;
  cursor: pointer;
  transition: 0.3s box-shadow, 0.3s background-color;

  &:hover {
    background-color: #ebedf5;
  }

  &._active {
    box-shadow: 10px 1px 10px 5px #a767e5, 0 5px 8px 11px #4fcf70, 0 -5px 8px 11px #fad648,
      0px 5px 8px 11px #12bcfe;
    z-index: 5;
  }
}

.backquote {
  border-top-left-radius: 12px;
}

.backspace {
  border-top-right-radius: 12px;
}

.delete {
  border-bottom-left-radius: 12px;
}

.arrowright {
  border-bottom-right-radius: 12px;
}

.arrowup,
.arrowdown {
  height: auto;
}

.enter {
  height: auto;
  flex-grow: 1;
}

.space,
.shiftright,
.shiftleft,
.backspace,
.capslock,
.tab {
  flex-grow: 1;
}
